* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

.container {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background: url('./home.jpg') 100% 100%;
  background-position: center; /* 背景图随屏幕尺寸变化 背景图两边隐藏 图片不压缩 */
  background-repeat: no-repeat;
  overflow: hidden;
}
